source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L84wuzgyjITIfSxSD57Tx7v51DMxVZOsiUD8="

nix_direnv_watch_file devenv.nix
nix_direnv_watch_file devenv/*.nix
nix_direnv_watch_file flake.nix
nix_direnv_watch_file flake.lock
nix_direnv_watch_file flake/*.nix
if ! use flake . --impure
then
  echo "devenv could not be built. The devenv environment was not loaded. Make the necessary changes to devenv.nix and hit enter to try again." >&2
fi
PATH_add /run/wrappers/bin
